.divPhotos{
	display: flex;
	flex-wrap: wrap;
}
.divPhotos div{
	background-color: #50C878;
	border: 2px solid black;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 5px;
	width: 200px;
	border-radius: 30px;
}
.divPhotos img{
	width: 100%;
	height: 200px;
	border-radius: 30px;
}